<section id="portfolio">
    <div class="content-box-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="vertical-heading wow slideInLeft">
                        <h5>Find Out Work</h5>
                        <h2>Our <br>Amazing<strong>Work</strong></h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Portfolio Items Filters -->
                    <div id="isotope-filters">
                        <button class="btn active" data-filter="*"><span>All</span></button>
                        <button class="btn" data-filter=".logo"><span>Public Speaking</span></button>
                        <button class="btn" data-filter=".web"><span>Business Partnership</span></button>
                        <button class="btn" data-filter=".mobile"><span>Mentorship</span></button>
                        <button class="btn" data-filter=".desktop"><span>Coaching</span></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Items wrapper -->
        <section id="portfolio-wrapper" class="wow fadeInUp" data-wow-duration="1.5s">
            <div class="container-fluid">
                <div class="row no-gutters">
                    <div id="isotope-container">
                        <div class="col-xs-12 col-sm-6 col-md-3 logo desktop">
                            <!-- Portfolio item 01 -->
                            <div class="portfolio-item">
                                <a href="img/portfolio/001.jpg" title="Add Description">
                                    <img src="img/portfolio/001.jpg" class="img-responsive" alt="portfolio 01">
                                    <div class="portfolio-item-overlay">
                                        <div class="portfolio-item-details text-center">
                                            <!-- Item Header -->
                                            <h3>Coaching</h3>
                                            <!-- Item Strips -->
                                            <span></span>
                                            <!-- Item Description -->
                                            <p></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Portfolio item 01 end -->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 web">
                            <!-- Portfolio item 02 -->
                            <div class="portfolio-item">
                                <a href="img/portfolio/002.jpg" title="Add Description">
                                    <img src="img/portfolio/002.jpg" class="img-responsive" alt="portfolio 02">
                                    <div class="portfolio-item-overlay">
                                        <div class="portfolio-item-details text-center">
                                            <!-- Item Header -->
                                            <h3>Partnership</h3>
                                            <!-- Item Strips -->
                                            <span></span>
                                            <!-- Item Description -->
                                            <p></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Portfolio item 02 end -->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 logo">
                            <!-- Portfolio item 03 -->
                            <div class="portfolio-item">
                                <a href="img/portfolio/003.jpg" title="Add Description">
                                    <img src="img/portfolio/003.jpg" class="img-responsive" alt="portfolio 03">
                                    <div class="portfolio-item-overlay">
                                        <div class="portfolio-item-details text-center">
                                            <!-- Item Header -->
                                            <h3>Training</h3>
                                            <!-- Item Strips -->
                                            <span></span>
                                            <!-- Item Description -->
                                            <p></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Portfolio item 03 end -->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 web">
                            <!-- Portfolio item 04 -->
                            <div class="portfolio-item">
                                <a href="img/portfolio/004.jpg" title="Add Description">
                                    <img src="img/portfolio/004.jpg" class="img-responsive" alt="portfolio 04">
                                    <div class="portfolio-item-overlay">
                                        <div class="portfolio-item-details text-center">
                                            <!-- Item Header -->
                                            <h3>Public Speaking</h3>
                                            <!-- Item Strips -->
                                            <span></span>
                                            <!-- Item Description -->
                                            <p></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Portfolio item 01 end -->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 desktop web">
                            <!-- Portfolio item 05 -->
                            <div class="portfolio-item">
                                <a href="img/portfolio/005.jpg" title="Add Description">
                                    <img src="img/portfolio/005.jpg" class="img-responsive" alt="portfolio 05">
                                    <div class="portfolio-item-overlay">
                                        <div class="portfolio-item-details text-center">
                                            <!-- Item Header -->
                                            <h3>Coaching</h3>
                                            <!-- Item Strips -->
                                            <span></span>
                                            <!-- Item Description -->
                                            <p></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Portfolio item 05 end -->
                        </div>
                        <div class="col-sm-6 col-md-3 web desktop mobile">
                            <!-- Portfolio item 06 -->
                            <div class="portfolio-item">
                                <a href="img/portfolio/006.jpg" title="Add Description">
                                    <img src="img/portfolio/006.jpg" class="img-responsive" alt="portfolio 06">
                                    <div class="portfolio-item-overlay">
                                        <div class="portfolio-item-details text-center">
                                            <!-- Item Header -->
                                            <h3>Training</h3>
                                            <!-- Item Strips -->
                                            <span></span>
                                            <!-- Item Description -->
                                            <p></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Portfolio item 06 end -->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 desktop">
                            <!-- Portfolio item 07 -->
                            <div class="portfolio-item">
                                <a href="img/portfolio/007.jpg" title="Add Description">
                                    <img src="img/portfolio/007.jpg" class="img-responsive" alt="portfolio 07">
                                    <div class="portfolio-item-overlay">
                                        <div class="portfolio-item-details text-center">
                                            <!-- Item Header -->
                                            <h3>Mentorship</h3>
                                            <!-- Item Strips -->
                                            <span></span>
                                            <!-- Item Description -->
                                            <p></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Portfolio item 07 end -->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 logo">
                            <!-- Portfolio item 08 -->
                            <div class="portfolio-item">
                                <a href="img/portfolio/008.jpg" title="Add Description">
                                    <img src="img/portfolio/008.jpg" class="img-responsive" alt="portfolio 08">
                                    <div class="portfolio-item-overlay">
                                        <div class="portfolio-item-details text-center">
                                            <!-- Item Header -->
                                            <h3>Public Speaking</h3>
                                            <!-- Item Strips -->
                                            <span></span>
                                            <!-- Item Description -->
                                            <p></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Portfolio item 08 end -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Items wrapper End -->
    </div>
</section>
