<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Important meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Title -->
    <title><%= pageTitle %></title>

    <!-- Basic CEO -->
    <meta
      name="description"
      content="Mentorship, Coaching, Guidance, Opportunity, Business"
    />
    <meta
      name="keywords"
      content="Own your life, Motivational, Freedom, Control"
    />

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon/favicon.ico" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="css/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl-carousel/owl.theme.default.min.css" />

    <!-- Responsive Tabs CSS -->
    <link rel="stylesheet" href="css/responsive-tabs/responsive-tabs.min.css" />

    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="css/magnific/magnific-popup.min.css" />

    <!-- Animate CSS -->
    <link rel="stylesheet" href="css/animation/animation.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.min.css" />

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.min.css" />
  </head>
</html>
