<section id="team">
    <div class="content-box-lg">
        <div class="container">
            <!-- Team Members -->
            <div class="row">
                <!-- Team Left Side -->
                <div class="col-sm-6 col-md-6 wow slideInLeft" data-wow-duration="1s">
                    <div id="team-left">
                        <div class="vertical-heading">
                            <h5>Who We Are</h5>
                            <h2>Meet Our<br><strong>Talented</strong> Team</h2>
                        </div>
                        <br>
                        <p>“For the person trying to do everything alone, the game really is over. If you want to do something big, you must link up with others. One is too small a number to achieve greatness.
                        That’s the Law of Significance.”</p>
                    </div>
                </div>
                <!-- Team Right Side -->
                <div class="col-sm-6 col-md-6 wow slideInRight" data-wow-duration="1s">
                    <div id="team-members" class="owl-carousel owl-theme">
                        <!-- Member 01 -->
                        <div class="team-member">
                            <img src="img/team/team-1.jpg" alt="team member" class="img-responsive">
                            <div class="team-member-overlay">
                                <div class="team-member-info text-center">
                                    <h6>Kiran Kumar</h6>
                                    <p>Speaker and Coach</p>
                                    <ul class="social-list">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/kirankumar111/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Member 02 -->
                        <div class="team-member">
                            <img src="img/team/team-2.jpg" alt="Bharat Pinneti" class="img-responsive">
                            <div class="team-member-overlay">
                                <div class="team-member-info text-center">
                                    <h6>Bharat Pinneti</h6>
                                    <p>Process Lead</p>
                                    <ul class="social-list">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Member 03 -->
                        <div class="team-member">
                            <img src="img/team/team-3.jpg" alt="Supra Dash" class="img-responsive">
                            <div class="team-member-overlay">
                                <div class="team-member-info text-center">
                                    <h6>Supra Dash</h6>
                                    <p>Energy source</p>
                                    <ul class="social-list">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Member 04 -->
                        <div class="team-member">
                            <img src="img/team/team-4.jpg" alt="Bhushan Singh" class="img-responsive">
                            <div class="team-member-overlay">
                                <div class="team-member-info text-center">
                                    <h6>Bhushan Singh</h6>
                                    <p>The Dreamer</p>
                                    <ul class="social-list">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Member 05 -->
                        <div class="team-member">
                            <img src="img/team/team-5.jpg" alt="Anny Rathour" class="img-responsive">
                            <div class="team-member-overlay">
                                <div class="team-member-info text-center">
                                    <h6>Annu Rathour</h6>
                                    <p>Confidence Bubble</p>
                                    <ul class="social-list">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Member 06 -->
                        <div class="team-member">
                            <img src="img/team/team-6.jpg" alt="Dilip Gupta" class="img-responsive">
                            <div class="team-member-overlay">
                                <div class="team-member-info text-center">
                                    <h6>Dilip Gupta</h6>
                                    <p>Experience Bucket</p>
                                    <ul class="social-list">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Member 07 -->
                        <div class="team-member">
                            <img src="img/team/team-7.jpg" alt="Ripudaman Singh" class="img-responsive">
                            <div class="team-member-overlay">
                                <div class="team-member-info text-center">
                                    <h6>Ripudaman Singh</h6>
                                    <p>Nutrition Expert</p>
                                    <ul class="social-list">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="progress-elements">
                <!-- Progress Bars -->
                <div class="row wow fadeInUp">
                    <div class="col-sm-6 col-md-6">
                        <!-- Skill 1 -->
                        <div class="skill">
                            <h4>Public Speaking</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:0;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <!-- Skill 2 -->
                        <div class="skill">
                            <h4>Communication</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:0;">
                                    <span>75%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <!-- Skill 3 -->
                        <div class="skill">
                            <h4>Leadership</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:0;">
                                    <span>65%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <!-- Skill 4 -->
                        <div class="skill">
                            <h4>Conflict Managment</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:0;">
                                    <span>90%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>