<section id="services">
    <!-- Services 01 -->
    <div id="services-01">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center wow slideInDown">
                        <div class="horizontal-heading">
                            <h5>What we do</h5>
                            <h2>Our <strong>Services</strong></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 col-md-7 wow slideInLeft">
                        <img src="img/services/laptop-lamp.png" alt="laptop" class="img-responsive">
                    </div>
                    <div class="col-sm-5 col-md-5 wow slideInRight">
                        <!-- Service 01 -->
                        <div class="service">
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                    <div class="icon text-right">
                                        <i class="fa fa-paint-brush"></i>
                                    </div>
                                </div>
                                <div class="col-sm-10 col-md-10">
                                    <h5>Service 01</h5>
                                    <h4>Web Design</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto deserunt fuga nobis quos nam dolorem dignissimos quas dolor.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Service 01 -->
                        <!-- Service 02 -->
                        <div class="service">
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                    <div class="icon text-right">
                                        <i class="fa fa-laptop"></i>
                                    </div>
                                </div>
                                <div class="col-sm-10 col-md-10">
                                    <h5>Service 02</h5>
                                    <h4>Web Development</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto deserunt fuga nobis quos nam dolorem dignissimos quas dolor.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Service 02 -->
                        <!-- Service 03 -->
                        <div class="service">
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                    <div class="icon text-right">
                                        <i class="fa fa-paper-plane-o"></i>
                                    </div>
                                </div>
                                <div class="col-sm-10 col-md-10">
                                    <h5>Service 03</h5>
                                    <h4>Personality Development</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto deserunt fuga nobis quos nam dolorem dignissimos quas dolor.</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Service 03 -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services 01 -->

    <!-- Services 02 -->
    <div id="services-02">
        <div class="content-box-md">
            <div id="services-tabs">
                <ul class="text-center">
                    <li><a href="#service-tab-1">Creativity</a></li>
                    <li><a href="#service-tab-2">Startegy</a></li>
                    <li><a href="#service-tab-3">Design</a></li>
                    <li><a href="#service-tab-4">Development</a></li>
                </ul>
                <!-- Service Tab 01 -->
                <div id="service-tab-1" class="service-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="img/services/service-tab-img-01.jpg" alt="creativity">
                            </div>
                            <div class="col-md-6">
                                <div class="tab-bg">
                                    <h2>01</h2>
                                    <h3>Get More from Life with Creativity</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, illo, expedita. Voluptatem, facilis. Voluptates ullam repellat nobis quisquam odit, esse obcaecati aliquam nulla laborum veritatis sequi, impedit sunt nam, possimus repellat nobis quisquam odit, esse obcaecati aliquam nulla laborum.</p>
                                    <div id="services-02-btn-01">
                                        <a class="btn btn-general btn-yellow" href="#services" title="Get in touch" role="button">Get in touch</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Service Tab 01 -->
                <!-- Service Tab 02 -->
                <div id="service-tab-2" class="service-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="img/services/service-tab-img-02.jpg" alt="strategy" class="img-responsive">
                            </div>
                            <div class="col-md-6">
                                <div class="tab-bg">
                                    <h2>02</h2>
                                    <h3>The Home Of Strategy.</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, illo, expedita. Voluptatem, facilis. Voluptates ullam repellat nobis quisquam odit, esse obcaecati aliquam nulla laborum veritatis sequi, impedit sunt nam, possimus repellat nobis quisquam odit, esse obcaecati aliquam nulla laborum.</p>
                                    <div id="services-02-btn-02">
                                        <a class="btn btn-general btn-yellow" href="#services" title="Get in touch" role="button">Get in touch</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Service Tab 02 -->
                <!-- Service Tab 03 -->
                <div id="service-tab-3" class="service-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="img/services/service-tab-img-03.jpg" alt="design">
                            </div>
                            <div class="col-md-6">
                                <div class="tab-bg">
                                    <h2>03</h2>
                                    <h3>Design To Play It Safe.</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, illo, expedita. Voluptatem, facilis. Voluptates ullam repellat nobis quisquam odit, esse obcaecati aliquam nulla laborum veritatis sequi, impedit sunt nam, possimus repellat nobis quisquam odit, esse obcaecati aliquam nulla laborum.</p>
                                    <div id="services-02-btn-03">
                                        <a class="btn btn-general btn-yellow" href="#services" title="Get in touch" role="button">Get in touch</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Service Tab 03 -->
                <!-- Service Tab 04 -->
                <div id="service-tab-4" class="service-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="img/services/service-tab-img-04.jpg" alt="development">
                            </div>
                            <div class="col-md-6">
                                <div class="tab-bg">
                                    <h2>04</h2>
                                    <h3>Get More from Life with Development</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, illo, expedita. Voluptatem, facilis. Voluptates ullam repellat nobis quisquam odit, esse obcaecati aliquam nulla laborum veritatis sequi, impedit sunt nam, possimus repellat nobis quisquam odit, esse obcaecati aliquam nulla laborum.</p>
                                    <div id="services-02-btn-04">
                                        <a class="btn btn-general btn-yellow" href="#services" title="Get in touch" role="button">Get in touch</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Service Tab 04 -->
            </div>
        </div>
    </div>
    <!-- End Services 02 -->
</section>