<section id="pricing">
  <div class="content-box-md">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center wow slideInDown">
          <div class="horizontal-heading">
            <h5>Lovely Customers</h5>
            <h2>Our <strong>Pricing</strong></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInLeft">
          <!-- Pricing Table 01 -->
          <div class="pricing-table">
            <div class="type">
              <h4>Basic</h4>
            </div>
            <div class="price">
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <h2>
                    <span class="dollar">&#36;</span>29<span class="month"
                      >Month</span
                    >
                  </h2>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                  <p>Price Description</p>
                </div>
              </div>
            </div>
            <ul class="package">
              <li><i class="fa fa-check"></i>Full access</li>
              <li><i class="fa fa-check"></i>Full access</li>
              <li><i class="fa fa-check"></i>Full access</li>
              <li><i class="fa fa-check"></i>Full access</li>
              <li><i class="fa fa-check"></i>Full access</li>
            </ul>
            <div id="prices-btn-01">
              <a
                class="btn btn-general btn-yellow"
                href="#"
                title="Get Started"
                role="button"
                >Get Started</a
              >
            </div>
          </div>
        </div>
        <div
          class="col-xs-12 col-sm-4 col-md-4 wow fadeInUp"
          data-wow-duration="2s"
        >
          <!-- Pricing Table 02 -->
          <div class="pricing-table black">
            <div class="type">
              <h4>Unlimited</h4>
            </div>
            <div class="price">
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <h2>
                    <span class="dollar">&#36;</span>57<span class="month"
                      >Month</span
                    >
                  </h2>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                  <p>Price Description</p>
                </div>
              </div>
            </div>
            <ul class="package">
              <li><i class="fa fa-check"></i>Full access</li>
              <li><i class="fa fa-check"></i>Full access</li>
              <li><i class="fa fa-check"></i>Full access</li>
              <li><i class="fa fa-check"></i>Full access</li>
              <li><i class="fa fa-check"></i>Full access</li>
            </ul>
            <div id="prices-btn-02">
              <a
                class="btn btn-general btn-white"
                href="#"
                title="Get Started"
                role="button"
                >Get Started</a
              >
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInRight">
          <!-- Pricing Table 03 -->
          <div class="pricing-table">
            <div class="type">
              <h4>Professional</h4>
            </div>
            <div class="price">
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <h2>
                    <span class="dollar">&#36;</span>96<span class="month"
                      >Month</span
                    >
                  </h2>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                  <p>Price Description</p>
                </div>
              </div>
            </div>
            <ul class="package">
              <li><i class="fa fa-check"></i>Full access</li>
              <li><i class="fa fa-check"></i>Full access</li>
              <li><i class="fa fa-check"></i>Full access</li>
              <li><i class="fa fa-check"></i>Full access</li>
              <li><i class="fa fa-check"></i>Full access</li>
            </ul>
            <div id="prices-btn-03">
              <a
                class="btn btn-general btn-yellow"
                href="#"
                title="Get Started"
                role="button"
                >Get Started</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
