<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
          Copyright &copy; 2019 All Rights Reserved By <span>Kiravi</span> Inc
        </p>
      </div>
    </div>
  </div>
  <!-- Back To Top -->
  <a
    href="#home"
    id="back-to-top"
    class="btn btn-sm btn-yellow btn-back-to-top smooth-scroll hidden-sm hidden-xs"
    title="Home"
    role="button"
    ><i class="fa fa-angle-up"></i
  ></a>
</footer>
