<section id="clients">
  <div class="content-box-sm">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="horizontal-heading text-center">
            <h5>Satisfied Clients</h5>
            <h2>Our Happy <strong>Clients</strong></h2>
          </div>
        </div>
      </div>
      <div
        class="row wow bounceInLeft"
        data-wow-duration="0.7s"
        data-wow-delay="0.3"
      >
        <div class="col-md-12">
          <div id="clients-list" class="owl-carousel owl-theme">
            <!-- Client 01 -->
            <div class="client">
              <img
                src="img/client/client-1.png"
                alt="client"
                class="img-responsive"
              />
            </div>
            <!-- Client 02 -->
            <div class="client">
              <img
                src="img/client/client-2.png"
                alt="client"
                class="img-responsive"
              />
            </div>
            <!-- Client 03 -->
            <div class="client">
              <img
                src="img/client/client-3.png"
                alt="client"
                class="img-responsive"
              />
            </div>
            <!-- Client 04 -->
            <div class="client">
              <img
                src="img/client/client-4.png"
                alt="client"
                class="img-responsive"
              />
            </div>
            <!-- Client 05 -->
            <div class="client">
              <img
                src="img/client/client-5.png"
                alt="client"
                class="img-responsive"
              />
            </div>
            <!-- Client 06 -->
            <div class="client">
              <img
                src="img/client/client-6.png"
                alt="client"
                class="img-responsive"
              />
            </div>
            <!-- Client 07 -->
            <div class="client">
              <img
                src="img/client/client-7.png"
                alt="client"
                class="img-responsive"
              />
            </div>
            <!-- Client 08 -->
            <div class="client">
              <img
                src="img/client/client-8.png"
                alt="client"
                class="img-responsive"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
