<section id="statement">
  <div class="content-box-lg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 wow fadeIn">
          <div id="tech-statement" class="text-center">
            <h3>
              <i class="fa fa-quote-left"></i>Everything we do revolves around
              making poeple lives better.<br />Technology is our tool to do
              that.<i class="fa fa-quote-right"></i>
            </h3>
            <p>- Kiran Kumar -</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
