<section id="statement">
  <div class="content-box-lg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 wow fadeIn">
          <div id="tech-statement" class="text-center">
            <h3>
              <i class="fa fa-quote-left"></i>Your success is measured by the number of people that are better off because you lived.<i class="fa fa-quote-right"></i>
            </h3>
            <p>- Bill Britt -</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
