<section id="services">
    <!-- Services 01 -->
    <div id="services-01">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center wow slideInDown">
                        <div class="horizontal-heading">
                            <h5>What we do</h5>
                            <h2>Our <strong>Services</strong></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 col-md-7 wow slideInLeft">
                        <img src="img/services/laptop-lamp.png" alt="laptop" class="img-responsive">
                    </div>
                    <div class="col-sm-5 col-md-5 wow slideInRight">
                        <!-- Service 01 -->
                        <div class="service">
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                    <div class="icon text-right">
                                        <i class="fa fa-paint-brush"></i>
                                    </div>
                                </div>
                                <div class="col-sm-10 col-md-10">
                                    <h5>Service 01</h5>
                                    <h4>Personality Development</h4>
                                    <p>Your daily habits today determines your future tomorrow. Do you have interests in internal development?</p>
                                    <p>We have an education system for you!</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Service 01 -->
                        <!-- Service 02 -->
                        <div class="service">
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                    <div class="icon text-right">
                                        <i class="fa fa-laptop"></i>
                                    </div>
                                </div>
                                <div class="col-sm-10 col-md-10">
                                    <h5>Service 02</h5>
                                    <h4>Coaching and Mentorship</h4>
                                    <p> A mentor is someone who sees more talent and ability within you, than you see in yourself, and helps bring it out of you. Every successful person on this earth has a mentor or a coach. Sachin Tendulkar who is known as God of Cricket, has a coach. Bill Gates also has a mentor as Warren Buffet.</p>
                                    <p>Do you have one?</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Service 02 -->
                        <!-- Service 03 -->
                        <div class="service">
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                    <div class="icon text-right">
                                        <i class="fa fa-paper-plane-o"></i>
                                    </div>
                                </div>
                                <div class="col-sm-10 col-md-10">
                                    <h5>Service 03</h5>
                                    <h4>Health and Wellness</h4>
                                    <p>Time and health are two precious assets that we don't recognize and appreciate until they have been depleted.</p>
                                    <p>We can't control time but we can surely maintain our health</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Service 03 -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services 01 -->

    <!-- Services 02 -->
    <div id="services-02">
        <div class="content-box-md">
            <div class="row">
                <div class="col-md-12 text-center wow slideInDown">
                    <div class="horizontal-heading">
                        <h2>CHALLENGES OF <strong>STARTING A BUSINESS</strong></h2>
                        <!-- <h2>Business needs following <strong>Parameters</strong></h2> -->
                    </div>
                </div>
            </div>
            <div id="services-tabs">
                <ul class="text-center">
                    <li><a href="#service-tab-1">Startup/Operations Cost</a></li>
                    <li><a href="#service-tab-2">Time Commitment</a></li>
                    <li><a href="#service-tab-3">Breakeven Period</a></li>
                    <li><a href="#service-tab-4">Risk Factor / No Mentorship</a></li>
                </ul>
                <!-- Service Tab 01 -->
                <div id="service-tab-1" class="service-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="img/services/service-tab-img-01.jpg" alt="creativity">
                            </div>
                            <div class="col-md-6">
                                <div class="tab-bg">
                                    <h2>01</h2>
                                    <h3>Know the reality</h3>
                                    <p>Any business in metro city like Bangalore need closed to Rs 30,00,000/- startup cost. Mostly running cost is 10% of startup cost.</p>
                                    <div id="services-02-btn-01">
                                        <a class="btn btn-general btn-yellow" href="#services" title="Get in touch" role="button">Get in touch to know more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Service Tab 01 -->
                <!-- Service Tab 02 -->
                <div id="service-tab-2" class="service-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="img/services/service-tab-img-02.jpg" alt="strategy" class="img-responsive">
                            </div>
                            <div class="col-md-6">
                                <div class="tab-bg">
                                    <h2>02</h2>
                                    <h3>Time Commitment</h3>
                                    <p>12 - 15 hours.</p>
                                    <p>Most businesses demand huge time commitment initially which would force you to quit your job and go full time.</p>
                                    <div id="services-02-btn-02">
                                        <a class="btn btn-general btn-yellow" href="#services" title="Get in touch" role="button">Get in touch</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Service Tab 02 -->
                <!-- Service Tab 03 -->
                <div id="service-tab-3" class="service-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="img/services/service-tab-img-03.jpg" alt="design">
                            </div>
                            <div class="col-md-6">
                                <div class="tab-bg">
                                    <h2>03</h2>
                                    <h3>Biggest myth of many businesses</h3>
                                    <p>Break even mostly required minimum 1000 days for a good business.</p>
                                    <div id="services-02-btn-03">
                                        <a class="btn btn-general btn-yellow" href="#services" title="Get in touch" role="button">Get in touch</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Service Tab 03 -->
                <!-- Service Tab 04 -->
                <div id="service-tab-4" class="service-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="img/services/service-tab-img-04.jpg" alt="development">
                            </div>
                            <div class="col-md-6">
                                <div class="tab-bg">
                                    <h2>04</h2>
                                    <h3>Risk Factor and No Mentorship</h3>
                                    <p>Risk is always based on your investment on time, efforts and money.</p>
                                    <p>If you don’t belong to any business family background then you can’t find any mentor for your venture.</p>
                                    <div id="services-02-btn-04">
                                        <a class="btn btn-general btn-yellow" href="#services" title="Get in touch" role="button">Get in touch</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Service Tab 04 -->
            </div>
        </div>
    </div>
    <!-- End Services 02 -->
</section>