<section id="about">
  <!-- About 01 -->
  <div id="about-01">
    <div class="content-box-lg">
      <div class="container">
        <div class="row">
          <!-- About Left Side -->
          <div class="col-sm-6 col-md-6 wow slideInLeft" data-wow-duration="1s">
            <div id="about-left">
              <div class="vertical-heading">
                <h5>Who We Are</h5>
                <h2>A <strong>Story</strong><br />About Us</h2>
              </div>
            </div>
          </div>

          <!-- About Right Side -->
          <div
            class="col-sm-6 col-md-6 wow slideInRight"
            data-wow-duration="1s"
          >
            <div id="about-right">
              <p>
                We are a group of passionate folks who are a big believer of possibility thinking. Most of us come from typical average backgrounds from different parts of India.
              </p>
              <p>
                Everything we do, we believe in challenging the status quo. Our work revolves around the purpose of creating a positive impact on people's lives. 
              </p>
            </div>
          </div>
        </div>
        <!-- About Bottom -->
        <div class="row">
          <div class="col-md-12 wow fadeInUp" data-wow-duration="2s">
            <div id="about-bottom">
              <img
                src="img/about/about.png"
                alt="About Us"
                class="img-responsive"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About 01 Ends -->
  <!-- About 02 -->
  <div id="about-02">
    <div class="content-box-md">
      <div class="container">
        <div class="row">
          <!-- About Item 01-->
          <div class="col-sm-4 col-md-4 wow fadeInLeft">
            <div class="about-item text-center">
              <i class="fa fa-rocket"></i>
              <h3>Mission</h3>
              <hr />
              <p>
                Today the only mission of ours is to empower every dreamer who has a dream and willingness to put in work but doesn't have an opportunity. 
              </p>
            </div>
          </div>
          <!-- About Item 02-->
          <div class="col-sm-4 col-md-4 wow fadeInUp" data-wow-duration="2s">
            <div class="about-item text-center">
              <i class="fa fa-eye"></i>
              <h3>Vision</h3>
              <hr />
              <p>
                Leaders biggest responsibility is to devleop new leaders.
                We believe in creating entrepreneurs who can positively add value to people's lives and impact the world for a better cause.
              </p>
            </div>
          </div>
          <!-- About Item 03-->
          <div class="col-sm-4 col-md-4 wow fadeInRight">
            <div class="about-item text-center">
              <i class="fa fa-pencil"></i>
              <h3>Passion</h3>
              <hr />
              <p>
                "Personal Growth is the key to happiness." Our passion is to inculcate habits within people which would fuel them towards their vision overcoming fear and belief issues. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About 02 Ends -->
</section>
