<section id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="vertical-heading wow slideInLeft">
          <h5>Who We Are</h5>
          <h2>What Our <br /><strong>Customers</strong> Say</h2>
        </div>
      </div>
      <div class="col-sm-8 col-md-8 wow fadeIn" data-wow-duration="2s">
        <div id="testimonial-slider" class="owl-carousel owl-theme">
          <!-- Testimonial 01 -->
          <div class="testimonial">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <h3>Quality Support</h3>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="stars text-right">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
              iste excepturi eveniet? Illo ratione inventore voluptas, incidunt!
            </p>
            <div class="author">
              <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-2">
                  <img
                    src="img/testimonial/client-1.jpg"
                    alt="client"
                    class="img-responsive img-circle"
                  />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-10">
                  <div class="author-name-des">
                    <p>Kiran Kumar</p>
                    <p>Tech Lead</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Testimonial 02 -->
          <div class="testimonial">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <h3>Quality Support</h3>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="stars text-right">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
              iste excepturi eveniet? Illo ratione inventore voluptas, incidunt!
            </p>
            <div class="author">
              <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-2">
                  <img
                    src="img/testimonial/client-2.jpg"
                    alt="Client"
                    class="img-responsive img-circle"
                  />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-10">
                  <div class="author-name-des">
                    <p>Akhil Chandrasenan</p>
                    <p>Tech Lead</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Testimonial 03 -->
          <div class="testimonial">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <h3>Quality Support</h3>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="stars text-right">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
              iste excepturi eveniet? Illo ratione inventore voluptas, incidunt!
            </p>
            <div class="author">
              <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-2">
                  <img
                    src="img/testimonial/client-3.jpg"
                    alt="Client"
                    class="img-responsive img-circle"
                  />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-10">
                  <div class="author-name-des">
                    <p>Kishan Kumar</p>
                    <p>Dev Ops</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
