<section id="home">
  <!-- background video -->

  <video id="home-bg-video" poster="video/kiravi.jpg" autoplay loop muted>
    <source src="video/solo.mp4" type="video/mp4" />
    <source src="video/solo.ogv" type="video/ogg" />
    <source src="video/solo.webm" type="video/webm" />
  </video>

  <!-- Overlay -->
  <div id="home-overlay"></div>

  <!-- Home Content -->
  <div id="home-content">
    <div id="home-content-inner" class="text-center">
      <div id="home-heading">
        <h1 id="home-heading-1">It's Your Life</h1>
        <br />
        <h1 id="home-heading-2">Take control <span>Now</span></h1>
      </div>
      <div id="home-text">
        <p>
          Success is how many people are better off because you lived. Have you
          impacted yet?
        </p>
      </div>
      <div id="home-btn">
        <a
          class="btn btn-general btn-home"
          href="#about"
          title="Start Now"
          role="button"
          >Start Now</a
        >
      </div>
    </div>
  </div>

  <!-- Arrow Down -->
  <a href="#about" id="arrow-down" class="smooth-scroll">
    <i class="fa fa-angle-down"></i>
  </a>
</section>
