<section id="stats">
  <div class="content-box-md">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="vertical-heading wow slideInLeft">
            <h5>Fun Facts</h5>
            <h2>We Deliver <strong>Excellent</strong> Services</h2>
          </div>
        </div>
      </div>
      <div class="row wow fadeInUp" data-wow-duration="2s">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <!-- Stats Item 01 -->
          <div class="stats-item text-center">
            <i class="fa fa-bar-chart"></i>
            <h3 class="counter">25</h3>
            <p>Years Experience</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <!-- Stats Item 02 -->
          <div class="stats-item text-center">
            <i class="fa fa-codepen"></i>
            <h3 class="counter">421</h3>
            <p>Projects Done</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <!-- Stats Item 03 -->
          <div class="stats-item text-center">
            <i class="fa fa-trophy"></i>
            <h3 class="counter">25</h3>
            <p>Awards Received</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <!-- Stats Item 04 -->
          <div class="stats-item text-center">
            <i class="fa fa-users"></i>
            <h3 class="counter">341</h3>
            <p>Happy Client</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
